body{
font-family:"Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

.sidemenu{
background-color: #eeeeee;
box-sizing: border-box;
padding: 25px 0px 0px 36px;
position: fixed;
height: 100vw;
width: 261px;
overflow: scroll;
}

.search{
  height: 36px;
  width: 225px;
  background-color: green;
}

.items{
  margin-top: 25px;
  width: 225px;
  overflow: scroll;
}

.items__listitem{
  border-bottom: 1px solid #979797;
  height: 70px;
  width: 100%;
}

.items__listitem__link{
  color: #000;
  display:block;
  text-decoration: none;
  height: 70px;
  width: 100%;
  h1{
    padding-top: 19px;
    font-size: 14px;
  }
  time{
    font-size: 12px;
  }
}

.main{
  margin-left: 261px;
}

.docTitle{
  padding: 86px 60px 0px 60px;
  h1{
    font-size:36px;
  }
}

.docBody{
  padding: 64px 130px 0px 90px;
}
